
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Seçim Paneli| HVM APP | ERC TEKNOLOJİ</title>
    <!-- Stylesheets -->
    <link href="~/Content/Baslangic/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/Baslangic/css/style.css" rel="stylesheet">
    <link href="~/Content/Baslangic/css/responsive.css" rel="stylesheet">

    <!--Color Themes-->
    <link id="theme-color-file" href="~/Content/Baslangic/css/color-themes/default-theme.css" rel="stylesheet">

    <link rel="shortcut icon" href="~/Content/Baslangic/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/Content/Baslangic/images/favicon.png" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>
        <!--End Main Header -->
        <!--Page Title-->
        <div class="col-md-12">
            <br />
        </div>
        <!--End Page Title-->
        <!-- Team Section -->
        <section class="team-section">
            <div class="auto-container">
                <div class="row clearfix">
                    <!-- Team Block -->
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="image-box">
                            <div class="image"><a href="/ERCFIBARO/ErcGiris/GirisYap/"><img src="~/Content/Baslangic/HVM ERC.png" alt="ERC TEKNOLOJİ"></a></div>
                        </div>
                    </div>
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="image-box">
                            <div class="image"><a href="/HVM/HVMGiris/GirisYap/"><img src="~/Content/Baslangic/HVM YONETIM.png" alt="ERC TEKNOLOJİ"></a></div>
                        </div>
                    </div>
                    <div class="team-block col-lg-4 col-md-6 col-sm-12">
                        <div class="image-box">
                            <div class="image"><a href="/Home/Login/"><img src="~/Content/Baslangic/HVM APP EKRAN.png" alt="ERC TEKNOLOJİ"></a>
                            <p>@ViewBag.IpAddress</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-circle-o-up"></span></div>
    <script src="~/Content/Baslangic/js/jquery.js"></script>
    <script src="~/Content/Baslangic/js/popper.min.js"></script>
    <script src="~/Content/Baslangic/js/bootstrap.min.js"></script>
    <script src="~/Content/Baslangic/js/jquery.fancybox.js"></script>
    <script src="~/Content/Baslangic/js/owl.js"></script>
    <script src="~/Content/Baslangic/js/wow.js"></script>
    <script src="~/Content/Baslangic/js/appear.js"></script>
    <script src="~/Content/Baslangic/js/mixitup.js"></script>
    <script src="~/Content/Baslangic/js/script.js"></script>
    <!-- Color Setting -->
    <script src="~/Content/Baslangic/js/color-settings.js"></script>
</body>
</html>
